body {
    background-color: #f8f8f8;
    font-family: "Roboto", sans-serif;
    color: #547474;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-thumb { background-color: rgb(77, 157, 238);}
::selection { background-color: #9acece; }


.container {
    display: grid;
    grid-template-columns: 22% 78%;
    grid-template-rows: 8% 76% 16%;
    height: 100vh;
}

.users {
    background-color: #03a9f4;
    box-shadow: 2px 0px 10px rgba(0,0,0, .24);
    grid-row: 1 / 4;
    color: #f6f6f6;
}

.users h1 {
    font-weight: 400;
    text-align: center;
    font-size: 26px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.top-content {
    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid rgba(219, 213, 213, 0.664);
    box-shadow: 0 2px 10px rgba(0,0,0, .12), 0 2px 15px rgba(0,0,0, .16);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.top-content .tools {
    position: absolute;
    right: 2rem;
}

.tools i {
    font-size: 16px;
    margin: 0 .6rem;
    cursor: pointer;
    transition: 220ms;
}

.tools i:hover {
    color: dodgerblue;
}

.middle-content {
    background-color: inherit;
    overflow-y: auto;
    padding-top: 1.4rem;
}

.fr, .me { 
    display: flex; 
    align-items: center; 
    position: relative;
}

.me { justify-content: flex-end; }

.fr .chat-content, .me .chat-content {
    margin: 1rem .8rem;
    padding: 10px 20px;
    display: inline-block;
    position: relative;
    border-radius: 4px;
    max-width: 35%;
}

.fr .chat-content { background-color: #e3ecec; }

.fr span, .me span {
    font-size: 13px;
    position: absolute;
    top: -2px;
    font-weight: 300;
    text-shadow: .2px .2px .4px rgba(0,0,0, .16);
}

.fr span { left: 20px; }
.me span { right: 20px; }

.me .chat-content { background-color: dodgerblue; color: white; }

.fr .chat-content:before, .me .chat-content:before {
    content: '';  
    width: 0;
    height: 0;
    border-width: 7px;
    position: absolute;
    border-style: solid;
    border-color: transparent;
}

.fr .chat-content:before {
    left: -1px;
    bottom: -9px;
    transform: rotateZ(8.5deg);
    border-top-color: #e3ecec;
    border-left-color: #e3ecec;
}

.me .chat-content:before {
    right: 0px;
    bottom: -9px;
    transform: rotateZ(-8.5deg);
    border-top-color: dodgerblue;
    border-right-color: dodgerblue;
}

small {
    font-weight: 300;
}

.bottom-content {
    background-color: rgb(241, 241, 241);
    border-top: 1px solid rgba(219, 213, 213, 0.664);
    box-shadow: 0 0 5px rgba(0,0,0, .10);
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.bottom-content textarea {
    border: none;
    outline: none;
    resize: none;
    height: 95%;
    width: 90%;
    color: inherit;
    line-height: 1.3rem;
    background-color: transparent;
}

.bottom-content button {
    border: none;
    background-color: transparent;
    color: dodgerblue;
    font-size: 14px;
    text-transform: uppercase;
    transition: 200ms ease;
    margin-left: 20px;
    padding: 10px 14px;
}

.bottom-content button:hover {
    background-color: rgb(203, 223, 238);
}

.users .list-user {
    list-style: none;
    padding: 0;
}

.users .list-user .fas {
    color: rgb(18, 235, 116);
    margin-right: 10px;
    font-size: 14px;
}

.users .list-user li {
    padding: 20px 0 20px 2rem;
    cursor: pointer;
    transition: 240ms;
}

.users ul li:hover {
    background-color: rgba(255, 255, 255, 0.274);
}

#users-toggle {
    position: fixed;
    z-index: 1000;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    background-color: #03a9f4;
    display: none;
}

#users-toggle .one, #users-toggle .two, #users-toggle .three {
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 6px;
    transition: 220ms ease;
    margin: 4px 0;
}

#users-toggle .two { width: 20px; }
#users-toggle .three { width: 25px; }

#users-toggle:hover .two { width: 30px; }
#users-toggle:hover .three { width: 30px; }

.top-dropdown {
    position: absolute;
    outline: none;
    top: 50%;
    right: 1rem;
    border: none;
    display: none;
    cursor: pointer;
    font-size: 20px;
    transition: 220ms;
    transform: translateY(-50%);
    background-color: transparent;
}

.top-dropdown:hover {
    color: dodgerblue;
}

@media (max-width: 992px) {
    .top-content, .middle-content, .bottom-content {
        grid-column: span 2;
    }

    .users {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 900;
        width: 43vw;
        height: 100%;
        transition: 220ms ease;
        transform: translateX(-110%);
    }

    .users h1 {
        margin-top: 4rem;
        margin-bottom: 4px;
    }

    .me, .fr {
        font-size: 14px;
    }

    .fr .chat-content, .me .chat-content {
        max-width: 50%;
        line-height: 1.4rem;
    }

    .users.active {
        transform: translateX(0);
    }

    #users-toggle {
        display: block;
        top: 2px;
        transition: 220ms ease-out;
        left: 4px;
        transform: scale(.86);
    }

    #users-toggle.active {
        top: 8px;
        left: 10px;
        transform: scale(1);
    }

    #toggle-mask {
        transition: 250ms;
        position: fixed;
        top: 0;
        left: 0;
    }
    
    #toggle-mask.active {
        background-color: rgba(0, 0, 196, .12);
        width: 100%;
        z-index: 500;
        height: 100%;
    }

    .top-dropdown {
        display: block;
    }

    .top-content .tools {
        background-color: inherit;
        border: 1px solid rgba(202, 202, 202, 0.567);
        border-radius: 0 0 4px 4px;
        border-top: none;
        box-shadow: 0 6px 8px rgba(0,0,0, .12);
        top: 100%;
        padding: 10px 20px;
        right: 14px;
        z-index: 9;
        transition: 150ms ease;
        transform-origin: 100% 0;
        transform: scaleY(0);
    }

    .top-content .tools.active {
        transform: scale(1);
    }
}

@media (max-width: 600px) {
    .users {
        width: 70vw;
    }
}